{{ partial "header.html" . }}

<section class="pv4 ph3 flex w-100 items-center justify-center measure-wide lh">
    <div class="">
        <div class="">
            <div class="">
                <div class="">
                    {{ partial "page-heading" . }}
                    <!-- <div class="initials"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.Initials }}</a></div> -->
                </div>
                <div class="flex mb4 gray f6">
                    <div class="" title="{{ .Date.Format .Site.Params.dateformfull }}">{{ .Date.Format .Site.Params.dateform }}</div>
                    <div class=""><div class="di f6 mh2 middot"></div>{{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute read{{ else }}{{ .ReadingTime }} minutes read{{ end }}</div>
                </div>
            </div>
            <div class="markdown">
                {{ .Content }}
                <br>
                <p><a href="/">Back to posts</a></p>
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
