{{ partial "header.html" . }}
<div class="pa3 pa4-ns">
<section class="measure-wide center lh-copy mt4">

  <div class="">
    {{ partial "page-heading" . }}
  </div>

  <div class="flex mb4 gray f6">

    <div class="" title="{{ .Date.Format .Site.Params.dateformfull }}">
      {{ .Date.Format .Site.Params.dateform }}
    </div>

    <div class="di f6 mh2 middot"></div>
    {{ if eq 1 .ReadingTime }}
      {{ .ReadingTime }} minute read
    {{ else }}
      {{ .ReadingTime }} minutes read
    {{ end }}

  </div>
  <div class="markdown">
    {{ .Content }}
    <br>
    <p><a href="/"> <- Back to posts</a></p>
  </div>
</section>
</div>
{{ partial "footer.html" . }}
