<footer class="mw8 center pa3 pa4-ns mt6">
  <div class="dt">
    
    <div class="dtc mw6 v-mid pr3">
      <p class="ma0 tl f7 fw1 lh-copy">
        I'm available for hire to consult, advise and develop to help your business 
        <span class="i">"get there"</span>
         — where ever
        <span class="i">"there"</span>
        happens to be.
      </p>
    </div>

    <a href="mailto:jamiedumont@icloud.com" class="dtc v-mid pa3 bg-green white pointer hover-white-70">
      <h4 class="ma0 tc fw5 lh-title f5">I have availablility in both January &amp; February.</h4>
    </a>

  </div>

  <nav class="bt b--light-gray mt3 pv3">
    <a href="/" class="link f6 mid-gray fw1 dib mr3">Home</a>
    <a href="/about" class="link f6 mid-gray fw1 dib mr3">About</a>
    <a href="/uses" class="link f6 mid-gray fw1 dib mr3">Uses</a>
  </nav>

</footer>

{{ partial "footer_scripts" . }}

</body>
</html>
