{{ partial "header.html" . }}
<section class="measure center lh-copy f5">
  <h2 class="f2 dark-gray lh-title fw7 mv4 roboto-slab">
    Thoughts on building for the web &amp; creating a durable business.
  </h2>
  <p class="fw1 measure mb1">
    Hey, I'm <a class="link fw5"href="/about">Jamie</a> and I'm CTO at <a href="http://www.bikesoup.com">Bikesoup</a>, which is an online marketplace and magazine for all things cycling.</p>
  <p class="fw1 measure mb5">
  I'm both a web designer &amp; developer, and love working with Elixir and seriously light-weight Javascript — you can keep your heavy frameworks!
  </p>
  <h3 class="f6 fw5 silver tracked ttu bb b--light-gray pb2">Articles</h3>
  <ul class="list pl0">
  {{ range .Data.Pages.ByPublishDate }}
      {{ if eq .Section "blog" }}
          {{ partial "li.html" . }}
      {{ end }}
  {{ end }}
  </ul>
</section>
{{ partial "footer.html" . }}
