{{ partial "header.html" . }}
<section class="measure center lh-copy f5">
  <h2 class="f2 dark-gray lh-title fw7 mv4 roboto-slab">
    Thoughts on building for the web &amp; creating a durable business.
  </h2>
  <p class="fw1 measure mb5">
    Hi, I'm <a class="link fw5"href="/about">Jamie Dumont</a> - web designer &amp; developer. I'm Lead Developer at <a href=""http://www.bikesoup.com>Bikesoup</a> and run a few of my own projects. I also help people understand where their website isn't pulling it’s weight, and could return much more value.
  </p>
  <ul class="list pl0">
  {{ range .Data.Pages.ByPublishDate }}
      {{ if eq .Section "blog" }}
          {{ partial "li.html" . }}
      {{ end }}
  {{ end }}
  </ul>
</section>
{{ partial "footer.html" . }}
